ods/extensions/library/workflows/n8n/webhook-trigger.json
{
  "name": "Webhook Trigger - Process & Notify",
  "active": true,
  "meta": {
    "instanceId": "ods"
  },
  "nodes": [
    {
      "id": "webhook-process-data",
      "name": "Webhook",
      "parameters": {
        "path": "process-data",
        "responseMode": "responseNode",
        "options": {
          "headerAuth": {
            "name": "X-Webhook-Auth",
            "value": "={{ $env.WEBHOOK_AUTH_TOKEN }}"
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "process-data-webhook"
    },
    {
      "id": "code-process",
      "name": "Process",
      "parameters": {
        "jsCode": "return [{ json: { processed: true, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "id": "http-health-check",
      "name": "Health Check",
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ODS_URL || 'http://host.docker.internal:3002' }}/api/v1/health",
        "options": {
          "continueOnFail": true,
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, healthStatus: $json.status || 'unknown' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
