ods/extensions/library/workflows/n8n/workflow-webhook-llm-respond.json
{
  "name": "Webhook → LLM → Respond",
  "active": true,
  "meta": {
    "instanceId": "ods"
  },
  "nodes": [
    {
      "id": "webhook-llm-trigger",
      "name": "Webhook Trigger",
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-inference",
        "responseMode": "lastNode",
        "options": {
          "headerAuth": {
            "name": "X-Webhook-Auth",
            "value": "={{ $env.WEBHOOK_AUTH_TOKEN }}"
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "llm-inference-webhook"
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKey = apiKeyHeader !== undefined ? headers[apiKeyHeader] : '';\nconst expectedKey = $env.WEBHOOK_API_KEY || '';\n\n// Timing-safe comparison - prevents timing attacks on API key\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n  const MAX_LEN = 256;\n\n  // Include bounds check in result (constant-time, no branch)\n  let result = (a.length > MAX_LEN || b.length > MAX_LEN) ? 1 : 0;\n  // Constant-time comparison: always iterate MAX_LEN, use 0 for out-of-bounds\n  for (let i = 0; i < MAX_LEN; i++) {\n    const charA = i < a.length ? a.charCodeAt(i) : 0;\n    const charB = i < b.length ? b.charCodeAt(i) : 0;\n    result |= charA ^ charB;\n  }\n  // Include length check in constant-time result (CRITICAL: prevents length oracle attacks)\n  result |= (a.length === b.length) ? 0 : 1;\n  return result === 0;\n}\n\n// Authentication logic:\n// - If server has expectedKey configured: client MUST provide matching key\n// - If client provides a key but server has none: reject (unauthorized)\n// - If neither configured: allow (no auth required)\nif ((expectedKey || providedKey) && !timingSafeEqual(providedKey || '', expectedKey || '')) {\n  return [{ json: { valid: false, error: 'Authentication failed' } }];\n}\n\nconst input = $input.first().json || {};\n\n// === TYPE VALIDATION ===\nif (typeof input.message !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid message: must be a string' } }];\n}\n\nconst message = input.message || '';\nconst model = input.model || ($env.DEFAULT_LLM_MODEL || 'default');\nconst temperature = input.temperature;\nconst maxTokens = input.max_tokens;\n\n// === MODEL VALIDATION ===\nconst validModelPattern = /^[a-zA-Z0-9._-]+$/;\nif (!validModelPattern.test(model)) {\n  return [{ json: { valid: false, error: 'Invalid model name: must be alphanumeric, dot, dash, or underscore only' } }];\n}\nif (model.length > 100) {\n  return [{ json: { valid: false, error: 'Model name too long: max 100 characters' } }];\n}\n\n// === MESSAGE LENGTH VALIDATION ===\nif (typeof message !== 'string') {\n  return [{ json: { valid: false, error: 'Invalid message: must be a string' } }];\n}\nif (message.length > 32768) {\n  return [{ json: { valid: false, error: 'Message too long: max 32768 characters' } }];\n}\nif (message.length === 0) {\n  return [{ json: { valid: false, error: 'Missing required field: message' } }];\n}\n\n// === TEMPERATURE VALIDATION ===\nconst tempValue = temperature !== undefined ? parseFloat(temperature) : 0.7;\nif (isNaN(tempValue) || tempValue < 0.0 || tempValue > 2.0) {\n  return [{ json: { valid: false, error: 'Invalid temperature: must be a number between 0.0 and 2.0' } }];\n}\n\n// === MAX TOKENS VALIDATION ===\nconst tokensValue = maxTokens !== undefined ? parseInt(maxTokens, 10) : 1024;\nif (isNaN(tokensValue) || tokensValue < 100 || tokensValue > 4096) {\n  return [{ json: { valid: false, error: 'Invalid max_tokens: must be an integer between 100 and 4096' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    message: message,\n    model: model,\n    temperature: tempValue,\n    max_tokens: tokensValue\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "id": "check-valid",
      "name": "Check Valid",
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "type": "boolean"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "name": "equal",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [550, 300]
    },
    {
      "id": "error-response",
      "name": "Error Response",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [550, 500]
    },
    {
      "id": "llm-api-call",
      "name": "LLM API Call",
      "parameters": {
        "url": "={{ (() => { const url = $env.ODS_URL || 'http://localhost:8000'; const withProtocol = url.match(/^https?:\\/\\//) ? url : 'http://' + url; return withProtocol.replace(/\\/+$/, '') + '/v1/chat/completions'; })() }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "model": "={{ $json.model }}",
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ],
          "temperature": "={{ $json.temperature }}",
          "max_tokens": "={{ $json.max_tokens }}",
          "stream": false
        },
        "options": {
          "timeout": 120000,
          "continueOnFail": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "id": "process-response",
      "name": "Process Response",
      "parameters": {
        "jsCode": "// Process LLM response\nconst body = $input.first().json || {};\n\nconst message = body.choices?.[0]?.message?.content || body.message?.content || 'No response generated';\nconst model = body.model || 'unknown';\nconst usage = body.usage || {};\n\nreturn [{\n  json: {\n    success: !!message,\n    model: model,\n    response: message,\n    tokens_used: usage.total_tokens || 0,\n    prompt_tokens: usage.prompt_tokens || 0,\n    completion_tokens: usage.completion_tokens || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "id": "final-response",
      "name": "Final Response",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.response, model: $json.model, tokens_used: $json.tokens_used }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "id": "api-error",
      "name": "API Error",
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'LLM API call failed: ' + ($input.all()[0]?.error?.message || 'Unknown error') }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "LLM API Call",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "false": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM API Call": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
