ods/extensions/library/workflows/comfyui/llm-to-image.json
{
  "name": "LLM to Image Generation",
  "active": true,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm-to-image",
        "options": {}
      },
      "id": "llm-to-image-webhook",
      "name": "Webhook Trigger",
      "comment": "Accepts JSON: { prompt (required), channel (optional) }. API key via X-API-Key header only. Set LLM_TO_IMAGE_API_KEY env var to enable authentication.",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// API Key authentication check - timing-safe comparison\nconst headers = $input.first().json.headers || {};\n\n// Case-insensitive header lookup (defense against platform normalization changes)\nconst headerKeys = Object.keys(headers);\nconst apiKeyHeader = headerKeys.find(k => k.toLowerCase() === 'x-api-key');\nconst providedKeyRaw = apiKeyHeader !== undefined ? headers[apiKeyHeader] : '';\nconst expectedKey = $env.LLM_TO_IMAGE_API_KEY;\n\nconst MAX_LEN = 256;\n\n// Timing-safe comparison - prevents timing attacks on API key\nfunction timingSafeEqual(a, b) {\n  if (typeof a !== 'string' || typeof b !== 'string') return false;\n\n  // Include bounds check in result (constant-time, no branch)\n  let result = (a.length > MAX_LEN || b.length > MAX_LEN) ? 1 : 0;\n  // Constant-time comparison: always iterate MAX_LEN, use 0 for out-of-bounds\n  for (let i = 0; i < MAX_LEN; i++) {\n    const charA = i < a.length ? a.charCodeAt(i) : 0;\n    const charB = i < b.length ? b.charCodeAt(i) : 0;\n    result |= charA ^ charB;\n  }\n  // Include length check in constant-time result\n  result |= (a.length === b.length) ? 0 : 1;\n  return result === 0;\n}\n\n// Authentication logic:\n// - If server has expectedKey configured: client MUST provide matching key\n// - If server has NO expectedKey configured: reject any request that provides a key\n// - If neither configured: allow (no auth required)\nif ((expectedKey || providedKeyRaw) && !timingSafeEqual(providedKeyRaw || '', expectedKey || '')) {\n  return [{ json: { valid: false, error: 'Authentication failed' } }];\n}\n\nconst input = $input.first().json || {};\n\n// Validate prompt\nconst promptRaw = input.prompt || input.message || '';\nconst prompt = promptRaw.toString().trim();\nif (!prompt) {\n  return [{ json: { valid: false, error: 'Missing required field: prompt' } }];\n}\nif (prompt.length > 2000) {\n  return [{ json: { valid: false, error: 'Prompt too long: max 2000 characters' } }];\n}\n\n// Validate channel\nconst channelRaw = (input.channel || 'general').replace(/^#+/, '').replace(/[<>@&]/g, '').slice(0, 100);\nif (!channelRaw.match(/^[a-zA-Z0-9_-]+$/)) {\n  return [{ json: { valid: false, error: 'Invalid channel: must be alphanumeric, dash, or underscore only' } }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    prompt: prompt,\n    channel: channelRaw\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300],
      "comment": "API key auth (if LLM_TO_IMAGE_API_KEY set). Validates prompt (max 2000 chars), channel format."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "type": "boolean"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "name": "equal",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-valid",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "comment": "Branches based on validation result. True = valid input, continue to LLM. False = validation/auth failed, route to error."
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.LLM_HOST || 'localhost') + ':' + ($env.LLM_PORT || '8080') + '/v1/chat/completions' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={{ {\n  \"model\": $env.LLM_MODEL || 'default',\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI image generation assistant. Convert the user's text description into a detailed, artistic image generation prompt for ComfyUI/FLUX. Include style, lighting, composition, and artistic details. Keep it under 500 characters.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $('Validate Input').first().json.prompt\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.7\n} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "llm-prompt-enhancement",
      "name": "LLM Prompt Enhancement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 200],
      "comment": "Sends user prompt to LLM for image generation prompt enhancement. Uses validated input."
    },
    {
      "parameters": {
        "jsCode": "// Process LLM response and extract enhanced prompt\nconst body = $input.first().json || {};\nconst validatedInput = $('Validate Input').first().json || {};\n\nconst choices = body.choices || [];\nconst enhancedPrompt = choices[0]?.message?.content || '';\n\nif (!enhancedPrompt) {\n  return [{\n    json: {\n      valid: false,\n      error: 'LLM failed to generate an enhanced prompt',\n      raw_response: JSON.stringify(body)\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    original_prompt: validatedInput.prompt,\n    enhanced_prompt: enhancedPrompt.trim().slice(0, 1000),\n    channel: validatedInput.channel,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-llm-response",
      "name": "Process LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 200],
      "comment": "Extracts enhanced prompt from LLM response. Returns error if LLM fails."
    },
    {
      "parameters": {
        "url": "={{ 'http://' + ($env.COMFYUI_HOST || 'localhost') + ':' + ($env.COMFYUI_PORT || '8188') + '/prompt' }}",
        "method": "POST",
        "headers": {
          "list": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={{ {\n  \"prompt\": {\n    \"3\": {\n      \"inputs\": {\n        \"seed\": Math.floor(Math.random() * 9999999999),\n        \"steps\": 20,\n        \"cfg\": 8.0,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1.0,\n        \"model\": [\"4\", 0],\n        \"positive\": [\"6\", 0],\n        \"negative\": [\"7\", 0],\n        \"latent_image\": [\"5\", 0]\n      },\n      \"class_type\": \"KSampler\"\n    },\n    \"4\": {\n      \"inputs\": {\n        \"ckpt_name\": $env.COMFYUI_MODEL_NAME || 'flux1-dev.safetensors'\n      },\n      \"class_type\": \"CheckpointLoaderSimple\"\n    },\n    \"5\": {\n      \"inputs\": {\n        \"width\": 1024,\n        \"height\": 1024,\n        \"batch_size\": 1\n      },\n      \"class_type\": \"EmptyLatentImage\"\n    },\n    \"6\": {\n      \"inputs\": {\n        \"text\": $('Process LLM Response').first().json.enhanced_prompt,\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"7\": {\n      \"inputs\": {\n        \"text\": \"text, watermark, blurry, low quality\",\n        \"clip\": [\"4\", 1]\n      },\n      \"class_type\": \"CLIPTextEncode\"\n    },\n    \"8\": {\n      \"inputs\": {\n        \"samples\": [\"3\", 0],\n        \"vae\": [\"4\", 2]\n      },\n      \"class_type\": \"VAEDecode\"\n    },\n    \"9\": {\n      \"inputs\": {\n        \"filename_prefix\": 'llm_to_image_' + new Date().getTime(),\n        \"images\": [\"8\", 0]\n      },\n      \"class_type\": \"SaveImage\"\n    }\n  },\n  \"client_id\": 'n8n_llm_to_image_' + new Date().getTime()\n} }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "comfyui-queue-prompt",
      "name": "Queue Image Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 200],
      "comment": "Queues image generation with enhanced LLM prompt. Uses 1024x1024, 20 steps, Euler sampler."
    },
    {
      "parameters": {
        "jsCode": "// Process ComfyUI response\nconst body = $input.first().json || {};\nconst llmResponse = $('Process LLM Response').first().json || {};\n\nconst promptId = body.prompt_id || 'unknown';\nconst number = body.number || 0;\n\nreturn [{\n  json: {\n    success: !!promptId && promptId !== 'unknown',\n    prompt_id: promptId,\n    queue_number: number,\n    original_prompt: llmResponse.original_prompt || '',\n    enhanced_prompt: llmResponse.enhanced_prompt || '',\n    channel: llmResponse.channel || 'general',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-comfyui-response",
      "name": "Process ComfyUI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1450, 200],
      "comment": "Extracts prompt ID and queue number from ComfyUI response."
    },
    {
      "parameters": {
        "channel": "={{ $json.channel || 'general' }}",
        "text": "={{ '*Image Generated via LLM* 🎨\\n\\n**Original Prompt:** ' + (($json.original_prompt || '').toString().slice(0, 97).trimEnd()) + (($json.original_prompt || '').length > 97 ? '...' : '') + '\\n\\n**Enhanced Prompt:** ' + (($json.enhanced_prompt || '').toString().slice(0, 97).trimEnd()) + (($json.enhanced_prompt || '').length > 97 ? '...' : '') + '\\n\\n**Prompt ID:** `' + ($json.prompt_id || 'unknown') + '`\\n**Queue #:** ' + ($json.queue_number || 0) + '\\n\\n✅ Image generation started! Check ComfyUI for results.' }}"
      },
      "id": "discord-output",
      "name": "Discord Output",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1650, 200],
      "comment": "Sends success message with original and enhanced prompts truncated to fit Discord."
    },
    {
      "parameters": {
        "channel": "={{ $('Validate Input').first().json.channel || 'general' }}",
        "text": "={{ '*Image Generation Failed* ❌\\n\\n**Error:** ' + (($json.error || $input.all()[0]?.error?.message || $input.all()[0]?.error?.description || 'Unknown error')).toString().slice(0, 997).trimEnd() + '\\n\\nPlease check:\\n- LLM service is running\\n- ComfyUI service is running\\n- FLUX.1 model is loaded\\n- API keys are correct (if configured)' }}"
      },
      "id": "discord-error",
      "name": "Discord Error",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1250, 500],
      "comment": "Catches validation/auth errors, LLM failures, and ComfyUI API failures. Uses Validate Input for channel access."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "LLM Prompt Enhancement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Prompt Enhancement": {
      "main": [
        [
          {
            "node": "Process LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process LLM Response": {
      "main": [
        [
          {
            "node": "Queue Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Image Generation": {
      "main": [
        [
          {
            "node": "Process ComfyUI Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process ComfyUI Response": {
      "main": [
        [
          {
            "node": "Discord Output",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Discord Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "instanceId": "llm-to-image-v1"
  }
}
